/* FROM GOOGLE FONTS */
/* latin */
@font-face {
	font-family: 'Orbitron';
	font-style: normal;
	font-weight: 400;
	src: local('Orbitron-Light'), local('Orbitron-Regular'),
		url(../fonts/Orbitron-Regular.ttf) format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
		U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
	font-family: 'Orbitron';
	font-style: normal;
	font-weight: 500;
	src: local('Orbitron-Medium'), url(../fonts/Orbitron-Medium.ttf)
		format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
		U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
	font-family: 'Orbitron';
	font-style: normal;
	font-weight: 700;
	src: local('Orbitron-Bold'), url(../fonts/Orbitron-Bold.ttf)
		format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
		U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
	font-family: 'Orbitron';
	font-style: normal;
	font-weight: 900;
	src: local('Orbitron-Black'), url(../fonts/Orbitron-Black.ttf)
		format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
		U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* MODIFIED DEFAULT TIZEN WATCHFACE CSS */
* {
	margin: 0;
	padding: 0
}


html,body {
	width: 360px;
	height: 360px;
	background: #000;
}

.screen {
	width: 360px;
	height: 360px;
}

.screen-front {
	position: absolute;
	z-index: 1;
}

.screen-nav {
	pointer-events: none;
	
	position: absolute;
	width: 360px;
	height: 360px;
	z-index: 2;
}

.screen-nav .left-button {
	pointer-events: auto;
	
	position: absolute;
    background-color: #ffffff;
    font-size: 40px;
    line-height: 105px;
    opacity: 0.3;
    top: 130px;
    width: 50px;
    height: 100px;
    border-radius: 100% / 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.screen-nav .right-button {
	pointer-events: auto;
	
    position: absolute;
    background-color: #ffffff;
    font-size: 40px;
    line-height: 105px;
    text-align: right;
    opacity: 0.3;
    top: 130px;
    left: 310px;
    width: 50px;
    height: 100px;
    border-radius: 100% / 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#normalScreen .date_text {
	margin-top: 60px;
	
	font-family: 'Orbitron';
	font-size: 16px;
	color: white;
	text-align: center;
	width: 360px;
}

#normalScreen .time_text {
	font-family: 'Orbitron';
	font-size: 42px;
	color: white;
	text-align: center;
	width: 360px;
}

#normalScreen .data_text {
	font-family: 'Orbitron';
	font-size: 28px;
	color: white;
	text-align: center;
	width: 360px;
}

#normalScreen .data_text .small_text {
	font-size: 12px;
}

#normalScreen .data_text .data_item {
	display: inline-block;
	width: 30%;
	text-align: center;
}

#normalScreen .news_text {
	font-family: 'Orbitron';
	font-size: 16px;
	color: white;
	text-align: center;
	width: 360px;
	margin-top: 16px;
	margin-bottom: 16px;
}


#sportScreen .timer_text {
	margin-top: 60px;
	
	font-family: 'Orbitron';
	font-size: 42px;
	color: white;
	text-align: center;
	width: 360px;
}

#sportScreen .data_text {
	font-family: 'Orbitron';
	font-size: 28px;
	color: white;
	text-align: center;
	width: 360px;
}

#sportScreen .data_text .small_text {
	font-size: 12px;
}

#sportScreen .data_text .data_item {
	display: inline-block;
	width: 30%;
	text-align: center;
}

#counterScreen .counter_increase_button {
	background: #a0a0a0;

	top: 0px;
	left: 0px;
	height: 120px;
	width: 360px;

	font-family: Trebuchet, Arial, sans-serif;
	font-weight: bold;
	color: #ffffff;
	font-size: 120px;

	text-align: center;
}

#counterScreen .counter_reset_button {
	top: 120px;
	left: 0px;
	height: 120px;
	width: 360px;

	font-family: Trebuchet, Arial, sans-serif;
	font-weight: bold;
	color: #ffffff;
	font-size: 108px;
	
	text-align: center;
}

#counterScreen .counter_decrease_button {
	background: #a0a0a0;

	top: 240px;
	left: 0px;
	height: 120px;
	width: 360px;

	font-family: Trebuchet, Arial, sans-serif;
	font-weight: bold;
	color: #ffffff;
	font-size: 120px;
	
	text-align: center;
}

.graph {
	position: absolute;
	top: 0px;
	left: 20px;
	width: 320px;
	height: 320px;
	margin: 0px;
	
	/* If not present, stops news item from getting click input */
	pointer-events: none;
}
