/* FROM GOOGLE FONTS */
/* latin */
@font-face {
	font-family: 'Orbitron';
	font-style: normal;
	font-weight: 400;
	src: local('Orbitron-Light'), local('Orbitron-Regular'),
		url(../fonts/Orbitron-Regular.ttf) format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
		U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
	font-family: 'Orbitron';
	font-style: normal;
	font-weight: 500;
	src: local('Orbitron-Medium'), url(../fonts/Orbitron-Medium.ttf)
		format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
		U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
	font-family: 'Orbitron';
	font-style: normal;
	font-weight: 700;
	src: local('Orbitron-Bold'), url(../fonts/Orbitron-Bold.ttf)
		format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
		U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
	font-family: 'Orbitron';
	font-style: normal;
	font-weight: 900;
	src: local('Orbitron-Black'), url(../fonts/Orbitron-Black.ttf)
		format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
		U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* MODIFIED DEFAULT TIZEN WATCHFACE CSS */
* {
	margin: 0;
	padding: 0
}

html,body {
	width: 100%;
	height: 100%;
	background: #000;
}

h1 {
	font-size: 1.4em;
	margin: 10px 0 20px 10px;
	color: #6587ac;
}

.fill_outter {
	width: 100%;
	height: 100%;
	margin: 0px;
}

.fill_inner {
	position: absolute;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
	width: 100%;
	height: 100%;
	margin: 0px;
}

.fill_inner_inner {
	text-align: center;
	width: 100%;
}

.watch_text {
	font-family: 'Orbitron';
	font-size: 42px;
	color: white;
	text-align: center;
	width: 100%;
}

.data_text {
	font-family: 'Orbitron';
	font-size: 28px;
	color: white;
	text-align: center;
	width: 100%;
}

.data_text .small_text {
	font-size: 12px;
}

.data_text .data_item {
	display: inline-block;
	width: 30%;
	text-align: center;
}

.news_text {
	font-family: 'Orbitron';
	font-size: 16px;
	color: white;
	text-align: center;
	width: 100%;
	margin-top: 16px;
	margin-bottom: 16px;
}

.switch_text {
	font-family: 'Orbitron';
	font-size: 16px;
	color: white;
	text-align: center;
	width: 100%;
}

.canvas {
	background: #000;
	width: 100%;
	height: 100%;
	margin: 0px;
}

.table {
	width: 100%;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.table_item {
    width: 50%;
    float:left;
    border: 0px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 8px;
}

#sport_chart {
	position: absolute;
	top: 20px;
	left: 20px;
	width:320px;
	height:320px;
	margin:0px;
}


/* TAKEN FROM: https://proto.io/freebies/onoff/ */
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    display: block;
    margin: auto;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}