/* FROM GOOGLE FONTS */
/* latin */
@font-face {
	font-family: 'Orbitron';
	font-style: normal;
	font-weight: 400;
	src: local('Orbitron-Light'), local('Orbitron-Regular'),
		url(../fonts/Orbitron-Regular.ttf) format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
		U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
	font-family: 'Orbitron';
	font-style: normal;
	font-weight: 500;
	src: local('Orbitron-Medium'), url(../fonts/Orbitron-Medium.ttf)
		format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
		U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
	font-family: 'Orbitron';
	font-style: normal;
	font-weight: 700;
	src: local('Orbitron-Bold'), url(../fonts/Orbitron-Bold.ttf)
		format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
		U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
	font-family: 'Orbitron';
	font-style: normal;
	font-weight: 900;
	src: local('Orbitron-Black'), url(../fonts/Orbitron-Black.ttf)
		format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC,
		U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {
	margin: 0;
	padding: 0
}


body {
	width: 360px;
	height: 360px;
	background: #000;
}

.screen {
	width: 360px;
	height: 360px;
}

.backgroundScreen {
	position: absolute;

	top: 0px;
	left: 0px;
	width: 360px;
	height: 360px;
	text-align: center;

	/* If not present, stops news item from getting click input */
	pointer-events: none;
}

.screen-front {
	position: absolute;
	z-index: 1;
}

.screen-nav {
	pointer-events: none;
	
	position: absolute;
	width: 360px;
	height: 360px;
	z-index: 2;
}

.screen-nav .left-button {
	pointer-events: auto;
	
	position: absolute;
    background-color: #ffffff;
    font-size: 80px;
    line-height: 145px;
    opacity: 0.3;
    top: 105px;
    width: 70px;
    height: 140px;
    border-radius: 100% / 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.screen-nav .right-button {
	pointer-events: auto;
	
    position: absolute;
    background-color: #ffffff;
    font-size: 80px;
    line-height: 145px;
    text-align: right;
    opacity: 0.3;
    top: 105px;
    left: 290px;
    width: 70px;
    height: 140px;
    border-radius: 100% / 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#normalScreen .date_text {
	margin-top: 60px;
	
	font-family: 'Orbitron';
	font-size: 16px;
	color: white;
	text-align: center;
	width: 360px;
}

#normalScreen .time_text {
	font-family: 'Orbitron';
	font-size: 42px;
	color: white;
	text-align: center;
	width: 360px;
}

#normalScreen .data_text {
	font-family: 'Orbitron';
	font-size: 28px;
	color: white;
	text-align: center;
	width: 360px;
}

#normalScreen .data_text .small_text {
	font-size: 12px;
}

#normalScreen .data_text .data_item {
	display: inline-block;
	width: 30%;
	text-align: center;
}

#normalScreen .news_text {
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
	
	width: 300px;
	
	font-family: 'Orbitron';
	font-size: 24px;
	color: white;
	text-align: center;
}


#sportScreen .timer_text {
	font-family: 'Orbitron';
	font-size: 62px;
	color: white;
	text-align: center;
	width: 360px;
}

#sportScreen .data_text {
	margin-top: 60px;

	font-family: 'Orbitron';
	font-size: 28px;
	color: white;
	text-align: center;
	width: 360px;
}

#sportScreen .data_text .small_text {
	font-size: 12px;
}

#sportScreen .data_text .data_item {
	display: inline-block;
	width: 24%;
	text-align: center;
}

#sportScreen .sport_toggle_button {
	background: #a0a0a0;
	opacity: 0.4;

	margin-top: 10px;
	margin-left: 130px;
	margin-right: 130px;
	border-radius: 50%;
	width: 100px;
	height: 100px;

	font-family: Trebuchet, Arial, sans-serif;
	font-weight: bold;
	color: #ffffff;
	font-size: 24px;
	line-height: 100px;
	
	text-align: center;
}

#counterScreen .counter_increase_button {
	background: #a0a0a0;

	top: 0px;
	left: 0px;
	height: 120px;
	width: 360px;

	font-family: Trebuchet, Arial, sans-serif;
	font-weight: bold;
	color: #ffffff;
	font-size: 120px;

	text-align: center;
}

#counterScreen .counter_reset_button {
	top: 120px;
	left: 0px;
	height: 120px;
	width: 360px;

	font-family: Trebuchet, Arial, sans-serif;
	font-weight: bold;
	color: #ffffff;
	font-size: 108px;
	
	text-align: center;
}

#counterScreen .counter_decrease_button {
	background: #a0a0a0;

	top: 240px;
	left: 0px;
	height: 120px;
	width: 360px;

	font-family: Trebuchet, Arial, sans-serif;
	font-weight: bold;
	color: #ffffff;
	font-size: 120px;
	
	text-align: center;
}

#noticeBackground .circle {
	display: inline-block;
	background-color: lightgreen;
	border-radius: 50%;
	margin-top: 340px;
	width: 14px;
	height: 14px;
}

.graph {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 360px;
	height: 360px;
	
	/* If not present, stops news item from getting click input */
	pointer-events: none;
}
